<a href="https://colab.research.google.com/github/BangorUniversity/Research-Computing-Community/blob/master/workshops/programming_principles_and_practice_using_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Programming Principles and Practice using Python**
---

## String(str)

In [0]:
name='Aaron' 
name

'Aaron'

In [0]:
name="Beth"
name

'Beth'

In [0]:
type(name)

str

In [0]:
print("This string contains a single quote (') character.")

This string contains a single quote (') character.

In [0]:
print('This string contains a double quote (") character.')

This string contains a double quote (") character.

In [0]:
print('''This string has a single (') and a double (") quote.''')

This string has a single (') and a double (") quote.

In [0]:
print("""This is a
string that spans
across several lines""")

This is a
string that spans
across several lines

## Integer (int)

In [0]:
a=1
a

1

In [0]:
b=123456
b

123456

In [0]:
type(b)

int

In [0]:
c=0b10   # Binary 2
c

2

In [0]:
d=0x10   # Hexadecimal 16
d

16

In [0]:
e=0o10   # Octal 8
e

8

In [0]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

## Floating-Point Numbers (float)

In [0]:
a=4.2
a

4.2

In [0]:
b=.2
b

0.2

In [0]:
c=.4e7
c

4000000.0

In [0]:
d=4.2e-4
d

0.00042

In [0]:
type(d)

float

## Booleans

In [0]:
a=True
a

True

In [0]:
b=False
b

False

In [0]:
type(b)

bool

## Comments

In [0]:
a=1 # This is a comment and will not run
a

1

In [0]:
"""
This is a
multiline comment
and will not run
"""
a=1

## Scripts

In [0]:
def main():
  print('Called main()')
  
if __name__ == '__main__':  # Entry point
  main()

Called main()

## Lists

In [0]:
names = ["Aaron", "Beth", "George"]
names

['Aaron', 'Beth', 'George']

In [0]:
len(names)

3

**Access Items**

In [0]:
print(names[0])
print(names[1])
print(names[2])
#print(names[3]) # ???

Aaron
Beth
George

**Negative Indexing**

In [0]:
print(names[-1])
print(names[-2])

George
Beth

**Add an item**

In [0]:
names = ["Aaron", "Beth", "George"]
names.append("Dereck")
print(names)

['Aaron', 'Beth', 'George', 'Dereck']

**Add an item at specified index**

In [0]:
names = ["Aaron", "Beth", "George"]
names.insert(1, "Mia")
print(names)

['Aaron', 'Mia', 'Beth', 'George']

**Remove an item**

In [0]:
names = ["Aaron", "Beth", "George"]
names.remove('Aaron')
print(names)

['Beth', 'George']

**Clear a list**

In [0]:
names = ["Aaron", "Beth", "George"]
names.clear()
print(names)

[]

## Tuples

In [0]:
names = ("Aaron", "Beth", "George")
print(names)

('Aaron', 'Beth', 'George')

## Dictionaries

In [0]:
person = {
  "name": "Aaron",
  "age": 32,
  "title": "Mr"
}
print(person)

{'name': 'Aaron', 'age': 32, 'title': 'Mr'}

**Accessing Items**

In [0]:
print(person["name"])
print(person.get("name"))
print(person.get("x", "default if x does not exist"))

Aaron
Aaron
default if x does not exist

**Get list of keys**

In [0]:
print(person.keys())

dict_keys(['name', 'age', 'title'])

**Get a list of values**

In [0]:
print(person.values())

dict_values(['Aaron', 32, 'Mr'])

**Change Values**

In [0]:
person["name"]="Beth"
person["age"]=29
person["title"]="Miss"
print(person)

{'name': 'Beth', 'age': 29, 'title': 'Miss'}

**Check if Key Exists**

In [0]:
if "name" in person:
    print("Yes, 'name' is one of the keys in the person dictionary")
else:
    print("No, 'name' is not one of the keys in the person dictionary")

Yes, 'name' is one of the keys in the person dictionary

**Adding Items**

In [0]:
person = {
  "name": "Aaron",
  "age": 32,
  "title": "Mr"
}
person["job"]="Research Software Engineer"
print(person)

{'name': 'Aaron', 'age': 32, 'title': 'Mr', 'job': 'Research Software Engineer'}

**Removing Items**

In [0]:
person.pop("age")
print(person)

{'name': 'Aaron', 'title': 'Mr', 'job': 'Research Software Engineer'}

**Nested**

In [0]:
pets = {
  "mia": {
    "age": 4,
  },
  "boy cat" : {
    "age": 9
  },
  "girl cat" : {
    "age": 9
  }
}
print(pets)
print(pets["mia"])
print(pets["mia"]["age"])

{'mia': {'age': 4}, 'boy cat': {'age': 9}, 'girl cat': {'age': 9}}
{'age': 4}
4

## Read data from files

In [0]:
data=[]

with open('data.txt', 'r') as data_file:
  for line in data_file:
    line = line.strip() # Remove newline character
    print(f"Add '{line}' to the data list")
    data.append(line)

print(data)

Add 'Aaron' to the data list
Add '32' to the data list
Add 'Male' to the data list
['Aaron', '32', 'Male']

## Write data to files

In [0]:
data=['Aaron','Beth', 'George']

with open('name-list.txt', 'w+') as data_file:
  for item in data:
    data_file.write(item + '\n')

print(data)

['Aaron', 'Beth', 'George']

## Read, Update, Write

In [0]:
filename_input = 'planets.txt'
filename_output = 'planets-reversed.txt'

data=[]

# Read data from the input file
with open(filename_input, 'r') as data_file:
  for line in data_file:
    line = line.strip() # Remove newline character
    print(f"Add '{line}' to the data list")
    data.append(line)

# Check we have the data
print(data)

# For each data item, reverse the string
for i in range(len(data)):
  data[i]=''.join(reversed(data[i]))

print(data)

# Write data to the output file
with open(filename_output, 'w+') as data_file:
  for item in data:
    data_file.write(item + '\n')

Add 'Mercury' to the data list
Add 'Venus' to the data list
Add 'Earth' to the data list
Add 'Mars' to the data list
Add 'Jupiter' to the data list
Add 'Saturn' to the data list
Add 'Uranus' to the data list
Add 'Neptune' to the data list
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['yrucreM', 'suneV', 'htraE', 'sraM', 'retipuJ', 'nrutaS', 'sunarU', 'enutpeN']

## Conditional Statements

**if**

In [0]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

**elif**

In [0]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

**else**

In [0]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

**and**

In [0]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

**or**

In [0]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

## For Loops

**Loop through a list**

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

**Loop through a string**

In [0]:
for x in "banana":
  print(x)

b
a
n
a
n
a

**break**

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

**continue**

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

**range**

In [0]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [0]:
for n in range(10):
  print(n, end=(' ' if n < 9 else '\n'))

0 1 2 3 4 5 6 7 8 9

**else**

In [0]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

**Loop through a dictionary**

In [0]:
person = {
  "name": "Aaron",
  "age": 32,
  "title": "Mr"
}
for x, y in person.items():
  print(x, y)

name Aaron
age 32
title Mr

## Functions

**Simple function**

In [0]:
def test_function():
  print("Hello from test_function")
  
test_function()

Hello from test_function

**Function parameters**

In [0]:
def test_function(name):
  print(name + " Owen")
  
test_function("Aaron")
test_function("Beth")
test_function("George")

Aaron Owen
Beth Owen
George Owen

**Default parameter values**

In [0]:
def test_function(country = "Norway"):
  print("I am from " + country)

test_function("Sweden")
test_function("India")
test_function()
test_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

**Pass a list as a parameter**

In [0]:
def test_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]
test_function(fruits)

apple
banana
cherry

**Return values**

In [0]:
def test_function(x):
  return(5 * x)
  
print(test_function(3))
print(test_function(5))
print(test_function(9))

15
25
45

**Keyword arguments (kwargs)**

In [0]:
def test_function(child1, child2, child3):
  print("The youngest child is " + child3)

test_function(child1 = "George", child2 = "Amelia", child3 = "Linus")

The youngest child is Linus

In [0]:
def test_function(child3, child2, child1): # Note order of parameters
  print("The youngest child is " + child3)

test_function(child1 = "George", child2 = "Amelia", child3 = "Linus")

The youngest child is Linus

**Arbitrary arguments**

In [0]:
def test_function(*children):
  print("The youngest child is " + children[2])
  
test_function("George", "Amelia", "Linus")

The youngest child is Linus

**Fahrenheit to Celsius**

In [0]:
def fahr_to_celsius(temp):
    return ((temp - 32) * (5/9))

print('freezing point of water:', fahr_to_celsius(32), 'C')
print('boiling point of water:', fahr_to_celsius(212), 'C')

freezing point of water: 0.0 C
boiling point of water: 100.0 C

**Nested functions**

In [0]:
def func_1():
  print('func_1 called')
  func_2()

def func_2():
  print('func_2 called')

func_1()

func_1 called
func_2 called

## Documentation

**docstring**

In [0]:
def func_1(some_arg):
  '''
  This is the docstring for func_1
  Examples
  --------
  >>> func_1(22)
  22
  '''
  print(some_arg)

help(func_1)

Help on function func_1 in module __main__:

func_1(some_arg)
    This is the docstring for func_1
    Examples
    --------
    >>> func_1(22)
    22

## Defensive Programming

In [0]:
# TODO

## Test Driven Development (TDD)

In [0]:
# TODO